{% extends "layout/layout.html" %}

{% block title%}Yoga Pose Recognition | Model {% endblock %}

{% block active_model %}
  <li class="menu-item active">
{% endblock %}


{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="fw-bold py-3 mb-4">
    <span class="text-muted fw-light">Model /</span>
    All Model
  </h4>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  {% if session['role'] == 'Admin' %}
  <form action="{{ url_for('add_model') }}" class="mb-3">
    <button type="submit" class="btn btn-primary">
      <i class="bx bx-user-plus me-2"></i> Add Model</button>
  </form>
  {% endif %}
  <!-- Hoverable Table rows -->
  <div class="card">
    <div class="table-responsive text-nowrap">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Model Name</th>
            <th>Train Acurracy</th>
            <th>Validation Acurracy</th>
            <th>Test Acurracy</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          {% for model in listModel %}
          <tr>
            <td>
              {{model.modelname}}
            </td>
            <td>
                {{model.train_acc}}
            </td>
            <td>
                {{model.val_acc}}
            </td>
            <td>
              {{model.test_acc}}
          </td>
            <td>
              <div class="row align-items-center">
                <form action="{{ url_for('select_model', model_id=model.id) }}" method="post" class="col p-0 ">
                  {% if model.selected == 'No' %}
                  <button type="submit" class="btn btn-outline-success">
                    <i class="bx bx-check-square me-1"></i> Select</button>
                  {% else %}
                  <button type="submit" class="btn btn-outline-success" disabled>
                    <i class="bx bxs-check-square me-1"></i> Selected</button>
                  {% endif %}
                </form>
              {% if session['role'] == 'Admin' %}
                <form action="{{ url_for('update_model', model_id=model.id) }}" method="post" class="col p-0 ">
                  <button type="submit" class="btn btn-outline-primary">
                    <i class="bx bx-edit-alt me-1"></i> Update</button>
                </form>
                <form action="{{ url_for('delete_model', model_id=model.id) }}" method="post" class="col p-0" id="c_delete">
                  {% if model.selected == 'No' %}
                  <button type="button" class="btn btn-outline-danger" id="confirmButton" onclick="xacNhanThucHien()">
                    <i class="bx bx-trash me-1"></i>Delete</button>
                  {% else %}
                  <button type="button" class="btn btn-outline-danger" disabled>
                    <i class="bx bx-trash me-1"></i>Delete</button>
                  {% endif %}
                </form>
              {% endif %}
              </div>
            </td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </div>
  </div>
  <!--/ Hoverable Table rows -->
</div>

<script>
  function xacNhanThucHien() {
    var xacNhan = confirm("Are you sure you want to delete this model?");
    if (xacNhan) {
        // alert("Deleted successfully!");
        // Nếu xác nhận, thực hiện hành động submit
        document.getElementById("c_delete").submit();
    } else {
        // alert("The operation has been cancelled.");
        // Nếu hủy, không thực hiện submit
    }
}
</script>

{% endblock %}